:root {
  //------------------ Кольори Шрифтів ------------------------------------------------------------------------------

  --primary-black-color: #000000;
  --primary-gray-color: #907e82;
  --primary-red-color: #d41443;
  --secondary-red-color: #ffa5ba;
  --primaty-white-color: #ffffff;

  //   -------------------------------------------------------------------------------------------------------------------
}
